In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn
from sklearn.linear_model import LinearRegression
import os
import statsmodels.api as sm
import seaborn as sns

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
data = pd.read_csv('housing.csv')
data.head(5)

      CRIM   ZN  INDUS  CHAS    NOX  ...    TAX  PTRATIO       B  LSTAT  MEDV
0  0.02731  0.0   7.07   0.0  0.469  ...  242.0     17.8  396.90   9.14  21.6
1  0.02729  0.0   7.07   0.0  0.469  ...  242.0     17.8  392.83   4.03  34.7
2  0.03237  0.0   2.18   0.0  0.458  ...  222.0     18.7  394.63   2.94  33.4
3  0.06905  0.0   2.18   0.0  0.458  ...  222.0     18.7  396.90   5.33  36.2
4  0.02985  0.0   2.18   0.0  0.458  ...  222.0     18.7  394.12   5.21  28.7

[5 rows x 14 columns]

In [3]:
data = pd.read_csv('housing.csv')
data.head(5)

      CRIM   ZN  INDUS  CHAS    NOX  ...    TAX  PTRATIO       B  LSTAT  MEDV
0  0.02731  0.0   7.07   0.0  0.469  ...  242.0     17.8  396.90   9.14  21.6
1  0.02729  0.0   7.07   0.0  0.469  ...  242.0     17.8  392.83   4.03  34.7
2  0.03237  0.0   2.18   0.0  0.458  ...  222.0     18.7  394.63   2.94  33.4
3  0.06905  0.0   2.18   0.0  0.458  ...  222.0     18.7  396.90   5.33  36.2
4  0.02985  0.0   2.18   0.0  0.458  ...  222.0     18.7  394.12   5.21  28.7

[5 rows x 14 columns]

In [4]:
data.isnull().sum()

CRIM        0
ZN          0
INDUS       0
CHAS        0
NOX         0
RM          0
AGE         0
DIS         0
RAD         0
TAX         0
PTRATIO     0
B           0
LSTAT       0
MEDV       54
dtype: int64

In [5]:
#Replace missing value with median
# Replace using median
median = data['MEDV'].median()
data['MEDV'].fillna(median, inplace=True)
data.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
MEDV       0
dtype: int64

In [6]:
nRow, nCol = data.shape
print(f'There are {nRow} rows and {nCol} columns')

There are 505 rows and 14 columns

In [8]:
nRowsRead = 100 
df1 = pd.read_csv('housing.csv', delimiter=',', nrows = nRowsRead)
df1.dataframeName = 'housing.csv'
nRow, nCol = df1.shape
print(f'There are {nRow} rows and {nCol} columns')

There are 100 rows and 14 columns

In [9]:
df1.replace(0,np.nan).head()

      CRIM  ZN  INDUS  CHAS    NOX  ...  TAX  PTRATIO       B  LSTAT  MEDV
0  0.02731 NaN   7.07   NaN  0.469  ...  242     17.8  396.90   9.14  21.6
1  0.02729 NaN   7.07   NaN  0.469  ...  242     17.8  392.83   4.03  34.7
2  0.03237 NaN   2.18   NaN  0.458  ...  222     18.7  394.63   2.94  33.4
3  0.06905 NaN   2.18   NaN  0.458  ...  222     18.7  396.90   5.33  36.2
4  0.02985 NaN   2.18   NaN  0.458  ...  222     18.7  394.12   5.21  28.7

[5 rows x 14 columns]

In [10]:
df2=df1
df2.drop('CHAS', inplace=True, axis=1)
df2.head()

      CRIM   ZN  INDUS    NOX     RM  ...  TAX  PTRATIO       B  LSTAT  MEDV
0  0.02731  0.0   7.07  0.469  6.421  ...  242     17.8  396.90   9.14  21.6
1  0.02729  0.0   7.07  0.469  7.185  ...  242     17.8  392.83   4.03  34.7
2  0.03237  0.0   2.18  0.458  6.998  ...  222     18.7  394.63   2.94  33.4
3  0.06905  0.0   2.18  0.458  7.147  ...  222     18.7  396.90   5.33  36.2
4  0.02985  0.0   2.18  0.458  6.430  ...  222     18.7  394.12   5.21  28.7

[5 rows x 13 columns]